/*
SASS styling voor de pagina's
Probeer zo min mogelijk styling te herhalen.
*/
/* vars */
$clr-base: #ff7e00;
/* eof vars */
*{
    font-family: sans-serif;
}
a{
    text-decoration: none;           
}
body{
    margin: 0px;
}


.login {

    width: 500px;
    align-content: center;
    margin: 0 auto;
    text-align: center;

    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 2px 5px #ccc;
    border-radius: 25px;
    //font-size: 24px;

    &__title {
        h2 {
            margin: 0px auto;
        }
    }

    &__form {


        &--input {
            width: 100%;
            padding: 15px 20px;
            margin: 10px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 15px;
        }

        &--button {
            width: 100%;
            background-color: $clr-base;
            padding: 15px 0px;
            margin: 10px 0;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: white;

            a{
                color: white;

            }
        }

        &--register{
            a{
                display: block;
                width: 100%;
                background-color: $clr-base;
                padding: 15px 0px;
                margin: 10px 0;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                color: white;
            }
        }

    }
}

.quiz{

}

.question{
    padding: 50px;
    position: absolute;
    display: none;
    // top:0px;
    // left:0px;
    &__id{

    }

    &__title{

    }

    &__description{

    }

    &__nav{
        padding-top:40px;
        display: flex;
        flex-direction: column;
        .prev{
    
        }
        .next{
            display: none;
        }
        
        .check{
            display: none;
        
        }
        
        .submit{
            display: none;
        }
    }

    &__answer{
        
        &--correct{
            display: none;
        }

        &--false{
            display: none;

        }
    }
    .multiplechoice{

    }

    .code-htmlcss{
        &__container{
            display: flex;
            gap:50px;
        }

        .divider{
            border: solid 1px grey;
        }
    }
}
.active{
    display: block !important;
}

.done{
    pointer-events: none;
}

